* {
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: Arial;
}
#grid-container {
    display: table;
    width: 40vw;
    height: 40vw;
    margin: 20px auto;
    border: 1px black solid;
}
#grid-container > div {
    display: table-row;
}
#grid-container > div > div {
    display: table-cell;
    background-color: rgb(255, 255, 255);
}
.div-controls {
    width: 50vw;
    margin: 10px auto;
    padding: 10px 0px 20px;
    border: 1px black solid;
    text-align: center;
}
.div-controls > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}
#input-color {
    width: 80px;
    height: 40px;
    padding: 0px;
    border: none;
    cursor: pointer;
}
#button-reset {
    width: 100px;
    height: 40px;
    margin: 20px 30px;
    border: 1px black solid;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}
#button-reset:hover {
    background-color: rgb(230, 230, 230);
}
#select-mode {
    width: 80px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
}
#input-size {
    width: 80%;
    height: 10px;
    margin: 10px 20px;
    background: rgb(240, 240, 240);
}
#input-size::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: rgb(140, 140, 140);
    cursor: pointer;
  }
  #span-size {
      width: 10px;
  }